<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home Page!</h1>
    <form id="form1"  method="post">
        <textarea id="text" name="text"></textarea>
        <button type="submit">Submit</button>
    </form>
    {% if jsonobj != undefined %}
    <audio autoplay>
      <source src="/static/voice.wav" type="audio/wav">
      Your browser does not support the audio tag.
    </audio>
    <div>
        {% for obj in jsonobj %}
        <p>
            <span>{{obj.tone_name}}</span>:<span>{{obj.score}}</span>
        </p>
        {% endfor %}
    </div>

    {% endif %}
</body>
</html>